* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Avenir', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 스마트폰, 태블릿 사이즈 */
@media screen and (max-width: 960px) {
  .navbar-wrap {
    display: none;
  }

  .tablet-navbar-wrap {
    position: fixed;
    background-color: #f6f5ef;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    height: 70px;
    margin: 0 auto;
  }

  .tablet-navbar-wrap img {
    width: 50px;
    height: 50px;
    margin: 5px;
  }

  .tablet-navbar1 {
    background: url(../assets/tablet-nav-icon1.png);
  }
}

/* 데스크탑 사이즈 */
@media screen and (min-width: 961px) {
  .tablet-navbar-wrap {
    display: none;
  }
}

/* Header 영역 */
.navbar-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #f6f5ef;
  background-color: #f6f5ef;
}

.navbar-wrap-inner {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 120px;
}

.navbar-logo img {
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 15px;
}

.sub-navbar-inner {
  float: right;
}

.sub-navbar-inner li {
  float: left;
  margin-top: 10px;
}

.sub-navbar-inner li a {
  padding: 10px;
  color: #555555;
  font-size: 13px;
}

.search-bar-btn {
  margin-top: 10px;
  position: absolute;
  right: -20px;
  top: 5px;
}

.main-navbar-inner {
  position: fixed;
  top: 60px;
  right: 350px;
}

.main-navbar-inner li {
  float: left;
}

.main-navbar-inner li a {
  margin: 15px;
  font-size: 14px;
  color: #333333;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Main 영역 */
.main-img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.reward-img {
  margin-top: -10px;
  object-fit: contain;
  cursor: pointer;
}

/* Footer 영역 */
.footer {
  margin-top: -10px;
  height: 50vh;
  background-color: #2c2a29;
}

.footer-wrap-inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-wrap-inner ul {
  margin-right: 70px;
  margin-top: 40px;
  font-size: 15px;
  color: #ffffff;
}

.footer-first-title {
  margin-top: 15px;
}

.footer-first-title,
.footer-list {
  font-size: 12px;
}

.footer-list {
  margin-top: 5px;
}

.copy-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.copy-menu li {
  margin-left: 20px;
  color: #999999;
  font-size: 12px;
}

.copy-en {
  margin-top: 20px;
  color: #999999;
  font-size: 12px;
  text-align: center;
}
